html, body,
.intro {
  height: 100%;
}

.name {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 300;
  color: rgb(35, 20, 111);
}

.custom {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 300;
  color: #2587e9;
}

.topnav {
  overflow: hidden;
  background-color: rgb(127, 175, 226);
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: rgb(226, 179, 233);
}

.topnav a.active {
  background-color: #8ce2c2;
  color: white;
}

.topnav a.split {
  float: right;
  background-color: #d84343;
  color: white;
}

.form-control {
  border-color: transparent;
}

.input-group>.form-control:focus {
  border-color: transparent;
  box-shadow: inset 0 0 0 1px transparent;
}
.btn-link:hover {
  background-color: rgba(0,0,0,.05);
}
.btn-link:active, .btn-link.active {
  background-color: rgba(0,0,0,.05);
}
.btn-link:focus, .btn-link.focus {
  background-color: rgba(0,0,0,.05);
}
.btn-link:active:focus, .btn-link.active:focus {
  background-color: rgba(0,0,0,.05);
}


