<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Score board</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
          }
    </style>
</head>
<body>
    <h1>SCOREBOARD</h1>
    <table>
        <tr>
            <td>Username</td>
            <td>User Email</td>
            <td>Highscore</td>
            <td>Accuracy</td>
        </tr>

        <tr data-th-each="u : ${listUsers}">
            <td>
                <span data-th-text="${u.name}"></span>
            </td>
            <td>
                <span data-th-text="${u.email}"></span>
            </td>
            <td>
                <span data-th-text="${u.highscore}"></span>
            </td>
            <td>
                <span data-th-text="${u.accuracy}"></span>%
            </td>
        </tr>
        <form action="/start">
            <button type="submit">New Quiz</button>
            <button type="submit" formaction="/logout" class="btn btn-danger">Log Out</button>
            
            <!-- <a th:href="@{login}" class="fw-bold text-body"><u>Login here</u></a> -->
        </form>
    </table>








    
</body>
</html>