<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/start.css}" type="text/css">
    <!-- CSS only -->
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <title>WELCOME TO TRIVIA WORLD</title>
</head>
<body>
    <div class="topnav" id="myTopnav">
        <a th:href="@{start}" class="active">Home</a>
        <a th:href="@{scoreboard}">Scoreboard</a>
        <a th:href="@{login}" class="split">Log out</a>
    </div>
    <form action="/trivia" method="POST">
        
        <section >
            <div class="mask d-flex align-items-center">
                <div class="container p-5 my-5 bg-transparent">
                    <div class="row">
                        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                            <!-- question input -->
                            <div class="text-center display-1 name bg-white" >
                                <h2>Welcome, <span th:text="${name}" class="text-uppercase"></span>!</h2>
                            </div>
                            <div class="card-head d-flex justify-content-between py-2">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-text border-0 px-2" style="background-color: transparent;"><i class="bi bi-patch-question-fill" style="color: darkslateblue; font-size: 25px;"></i></span>
                                    <div class="form-floating mb-3 mt-3">
                                        <input type="text" class="form-control rounded" placeholder="Number of questions" name="qn"/><label for="qn">Number of questions</label>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="card text-center">
                                <div class="card-body p-3">
                                    <h6 class="mt-2 mb-2 custom">Customisation</h6>
                                    <div class="d-flex flex-column justify-content-center gap-3">
                                        <div> <!-- class="col-sm-5 mt-2 mb-2" -->
                                            <div class="dropdown">
                                                <label for="dif">Select category:
                                                    <select class="btn btn-outline-dark btn-rounded btn-lg btn-block dropdown-toggle" id="dropDownList" required>
                                                        <option value="0">categories</option>
                                                        <option th:each="option : ${options}" th:value="${option.value}" th:text="${option.name}" name="cat"></option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>
                                        <div><!--class="col-sm-4"-->
                                            <div class="dropdown">
                                                <label for="dif">Select difficulty:
                                                    <select name="dif" class="btn btn-outline-dark btn-rounded btn-lg btn-block dropdown-toggle">
                                                        <option value="easy">Easy</option>
                                                        <option value="medium">Medium</option>
                                                        <option value="hard">Hard</option>
                                                    </select>
                                                </label> 
                                            </div>
                                        </div>
                                        <div><!--class="col-sm-4"-->
                                            <div class="dropdown">
                                                <label for="dif">Select Question Type:
                                                    <select name="type" class="btn btn-outline-dark btn-rounded btn-lg btn-block dropdown-toggle" id="dropDownList" data-mdb-toggle="dropdown" aria-expanded="false">
                                                        <option value="0">Question Type</option>
                                                        <option value="multiple">Multiple Choice</option>
                                                        <option value="boolean">True/False</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="p-3">
                                            <button type="submit" class="btn btn-outline-dark">GET QUIZ</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <form action="/addFavourite" method="POST">

    </form>
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js}" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.js"></script> -->
</body>
</html>